     A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sn 
import statistics as stats

In [2]:
df= pd.read_csv('Cutlets.csv')

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [11]:
df.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [6]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [3]:
df['Unit A'].var()

0.08317945374789915

# we considered 2 tail T test

# h0  u1= u2
# h1  u1!=u2

# we calculate t statistics  and t critical values and compare them 
# t stats = ( x1-x2)/{  (s1*s1  + s2*s2) / 2*root of( 1/n1  + 1/n2)

In [5]:
t = (7.019091-6.964297)/(((0.288408**2 + 0.288408**2 )/2)/((2/35)**0.5))

In [6]:
t

0.1574705612117219

# now we find t critical for alpha= 0.05

# degree of freedom = n1+ n2 -2 =35+35-2
 #                                 = 68
 # 95+ 5/2

In [12]:
import scipy.stats
scipy.stats.t.ppf(0.975,68) # t value

1.9954689309194018

# t stats < t critical 
# so we accept null hypothesis 
#  so there  is no  significant difference in the diameter of the cutlet between two units
# u1= u2

# ------------------------------------------------------------------------------------------------------------

# 2

In [8]:
import pandas as pd 
from scipy import stats
from scipy.stats import norm
df=pd.read_csv('LabTAT.csv')

In [9]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
# H0 = all averages are equal 
# H1 =  atleast two values are not equal

In [4]:
# we have 4 samples , so we are considering ANOVA test

In [10]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# pvalue < 0.05  
# accept  alternate hypothesis 
 #  There is  difference in average TAT among the different laboratories

# ---------------------------------------------------------------------------------------------------------------

# 3

In [1]:
import pandas as pd 
from scipy import stats
from scipy.stats import norm 
from scipy.stats import chi2_contingency
import numpy as np

In [2]:
data = pd.read_csv('BuyerRatio.csv')

# h0 = male-female buyer rations are similar across regions 
# h1 = male-female buyer rations are not  similar across regions

In [3]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df=np.array([[50,142,131,70],[435,1523,1356,750]])

In [5]:
#chi square contingency 
chi2_contingency(df)    #

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

# p value > 0.05 
# accept null hypothesis 
# male-female buyer rations are similar across regions

# ---------------------------------------------------------------------------------------------------------------

# 4

# H0 = all centers have same defective %  
# H1 =  atleast two centers have different  defective %

In [26]:
import pandas as pd 
from scipy import stats
from scipy.stats import norm
import numpy as np 
from scipy.stats import chi2_contingency
df=pd.read_csv('Costomer+OrderForm.csv')

In [15]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [17]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [18]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [20]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [21]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [24]:
data=np.array([[271,267,269,280],[29,33,31,20]])

In [27]:
chi2_contingency(data)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

# compare p value with  alpha =0.05 
#  p > 0.05
#  accept null hypothesis

# H0 = all centers have same defective %